<html>
    <head>
        <title>
            None of your business
        </title>
    </head>
    <body>
        <h1>
            Add a new user
        </h1>
        <form action="/user/new" method="post"><!--- IMPORTANT-->
            <h3>
                Add user
            </h3>
            <div>
                <h1>First Name:</h1>
                <input  type="text" name="first_name">
            </div>
            <div>
                <h1>Last Name:</h1>
                <input  type="text" name="last_name">
            </div>
            <div>
                <h1>Email:</h1>
                <input  type="text" name="email">
                
            </div>
            <input type="submit" value="add user">
        </form>
    </body>
</html>